@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$font-family-base: 'Poppins', sans-serif;

$custom-spacers: (
  6: 4rem,
  7: 5rem,
  8: 8rem,
  9: 10rem,
  10: 12rem,
  11: 14rem,
  12: 16rem,
);

$spacers: map-merge($spacers, $custom-spacers);

@import 'bootstrap/scss/bootstrap';

#bgImageLogin {
  background-image: url(../assets/images/loginRegister.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#app {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation {
  height: 100vh;
  background-color: #1e66c9;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navigation * {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #ebf0f7;
}

.dashboard {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.containerBorder {
  background-color: #fdfcfc;
  border-radius: 10px;
  box-shadow: 1px 3px 5px #b0b0b0;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.hideNavIcon {
  cursor: pointer;
}

.navTitle {
  font-size: 1.25rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.25rem;
}

.concertCard {
  border-radius: 10px;
  padding: 10px;
}

.loadingIcon {
  font-size: 3rem;
  transform: rotate(90deg);
}

.concertSubtitle {
  font-weight: 400;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.concertDescription {
  font-size: 0.8rem;
}

.pointerElement {
  cursor: pointer;
}

.upcomingContainer {
  height: calc(100vh - 300px);
  overflow-y: scroll;
}

.myListContainers {
  height: calc(100vh - 40px);
  overflow-y: scroll;
}

.containerHeight {
  height: 180px;
}

.bold {
  font-weight: bold;
}

.concertNumber {
  display: inline-block;
  font-size: 2.75rem;
}

.numberDisplayWrapper {
  overflow: hidden;
  position: relative;
  height: 2.75rem;
  line-height: 2.75rem;
  min-width: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  display: inline-block;
  position: relative;
}

.favoriteGenreList {
  margin-top: -15px;
}

.favoriteGenreList li {
  line-height: 25pt;
}

.countdownNumber {
  background-color: #33363d;
  color: #ebf0f7;
  border-radius: 7px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 5rem;
}

.countdownNumberFontSize {
  font-size: 3.5rem;
}

.countdownNumberDelimiter {
  font-size: 2rem;
  font-weight: bolder;
}

.gapContent {
  gap: 1rem;
}

.overflowScroll {
  overflow-y: scroll;
}

.searchInput {
  border-radius: 20px;
  padding-left: 15px;
}

.showMoreConcertsButton {
  text-align: center;
  padding: 10px 15px;
  width: 300px;
  border-radius: 15px;
  background-color: #1e66c9;
  text-decoration: none;
  color: #ebf0f7;
  font-weight: 600;
}

.imageContainer {
  width: inherit;
  height: 175px;
  background-image: url(../assets/images/loginRegister.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.35);
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 100%;
  max-width: 400px;
  background-color: #f7f4f2;
  border-radius: 16px;
  padding: 25px;
}

.rotate-animation {
  animation-name: rotate-element;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.mobileMenu {
  font-size: 2rem;
  font-weight: bold;
  background-color: #1e66c9;
  color: #f7f4f2;
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 100;
}

.route-enter-from {
  opacity: 0;
  transform: translateX(300px);
}

.route-enter-active {
  transition: all 0.5s ease-out;
}

.route-leave-to {
  opacity: 0;
  transform: translateX(-300px);
}

.route-leave-active {
  transition: all 0.5s ease-in;
}

.modalAnimation-enter-from {
  opacity: 0;
}

.modalAnimation-enter-active {
  transition: all 0.3s ease-out;
}

.modalAnimation-leave-to {
  opacity: 0;
}

.modalAnimation-leave-active {
  transition: all 0.3s ease-in;
}

.exactActiveRoute {
  background-color: #11448b;
  margin: 0px -23px 0px 1vw;
  padding: 8px 23px;
  border-radius: 30px 0px 0px 30px;
}

@keyframes rotate-element {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (1170px <= width <= 1550px) {
  .countdownNumberFontSize {
    font-size: 1.7rem;
  }
}

@media (1015px <= width <= 1169px) {
  .countdownNumberFontSize {
    font-size: 1rem;
  }
}

@media (867px <= width <= 1014px) {
  .countdownNumberFontSize {
    font-size: 0.8rem;
  }
}

@media (768px <= width <= 866px) {
  .countdownNumberFontSize {
    font-size: 0.8rem;
  }

  .gapContent {
    gap: 0.5rem;
  }
}

@media (width <= 767px) {
  .exactActiveRoute {
    background-color: #11448b;
    margin: 0px;
    padding: 8px 23px;
    border-radius: 30px;
  }
}
