@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$font-family-base: 'Poppins', sans-serif;

$custom-spacers: (
  6: 4rem,
  7: 5rem,
  8: 8rem,
  9: 10rem,
  10: 12rem,
  11: 14rem,
  12: 16rem,
);

$spacers: map-merge($spacers, $custom-spacers);

@import 'bootstrap/scss/bootstrap';

#bgImageLogin {
  background-image: url(../assets/images/loginRegister.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#app {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation {
  height: 100vh;
  background-color: #1e66c9;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navigation * {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #ebf0f7;
}

.dashboard {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.containerBorder {
  border: 1px solid #c6c8cc;
  border-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.hideNavIcon {
  cursor: pointer;
}

.navTitle {
  font-size: 1.25rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.25rem;
}

.concertCard {
  border: 1px solid #c6c8cc;
  border-radius: 10px;
  padding: 10px;
}

.loadingIcon {
  font-size: 3rem;
  transform: rotate(90deg);
}

.concertSubtitle {
  font-weight: 400;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.concertDescription {
  font-size: 0.8rem;
}

.pointerElement {
  cursor: pointer;
}

.upcomingContainer {
  height: calc(100vh - 300px);
  overflow-y: scroll;
}

.myListContainers {
  height: calc(100vh - 40px);
  overflow-y: scroll;
}

.containerHeight {
  height: 180px;
}

.bold {
  font-weight: bold;
}

.concertNumber {
  font-size: 2.75rem;
}

.favoriteGenreList {
  margin-top: -15px;
}

.favoriteGenreList li {
  line-height: 25pt;
}

.countdownNumber {
  background-color: #33363d;
  color: #ebf0f7;
  border-radius: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.countdownNumberFontSize {
  font-size: 3.5rem;
}

.countdownNumberDelimiter {
  font-size: 2rem;
  font-weight: bolder;
}

.gapContent {
  gap: 1rem;
}

.overflowScroll {
  overflow-y: scroll;
}

.searchInput {
  border-radius: 20px;
  padding-left: 15px;
}

.showMoreConcertsButton {
  text-align: center;
  padding: 10px 15px;
  width: 300px;
  border-radius: 15px;
  background-color: #1e66c9;
  text-decoration: none;
  color: #ebf0f7;
  font-weight: 600;
}

.imageContainer {
  width: inherit;
  height: 175px;
  background-image: url(../assets/images/loginRegister.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

@media (1170px <= width <= 1550px) {
  .countdownNumberFontSize {
    font-size: 1.7rem;
  }
}

@media (1015px <= width <= 1169px) {
  .countdownNumberFontSize {
    font-size: 1rem;
  }
}

@media (867px <= width <= 1014px) {
  .countdownNumberFontSize {
    font-size: 0.8rem;
  }
}

@media (768px <= width <= 866px) {
  .countdownNumberFontSize {
    font-size: 0.8rem;
  }

  .gapContent {
    gap: 0.5rem;
  }
}
